@page "/preparation"
@inject NavigationManager NavigationManager
@using Radzen
@using Radzen.Blazor

<PageTitle>Preparation for Consecration</PageTitle>

<div class="page-content">
    <h1 class="page-title">Preparation for Consecration</h1>

    <p>
        Now begins the 33-day period of exercises. St. Louis-Marie breaks these days into sections of days,
        each section having its own prayers, and each particular day having its own brief readings with which
        to fill the mind for that day (the readings come from Sacred Scripture, "The Imitation of Christ,"
        and "True Devotion to the Blessed Virgin Mary"). Don't just read the readings, internalize them;
        don't let your lips just mouth the prayers, truly pray them.
    </p>

    <p>
        First comes a 12-day preparation period that consists of emptying oneself of the spirit of the world
        in penance and mortification. For those 12 days, we pray the Veni Creator, the Ave Maris Stella,
        the Magnificat, and the Glory Be. Then follow 3 weeks, each week having a specific focus.
    </p>

    <p>
        The first week focuses on offering up our prayers and devotions for the purpose of coming to
        understand ourselves and our sins; humility is the key, and the prayers the Litany of the Holy Ghost,
        the Litany of Loreto, and the Ave Maris Stella help us.
    </p>

    <p>
        During the second week, we ask the Holy Ghost to help us better understand the Blessed Virgin;
        we pray the Litany of the Holy Ghost, the Litany of Loreto, the Ave Maris Stella,
        the prayer to Mary by St. Louis-Marie, and 5 decades of the Holy Rosary each day for assistance.
    </p>

    <p>
        During the third week, we seek to better understand Christ through meditation and the Litany of
        the Holy Ghost,the Ave Maris Stella, and the Litany of the Holy Name of Jesus,
        Montfort's prayer to Jesus, and the prayer O Jesus Living in Mary.
    </p>
    <div class="text-center mt-4 mb-3">
        <RadzenButton Text="Begin Day 1" Click="@(() => NavigateTo("/day1"))" ButtonStyle="ButtonStyle.Primary" Icon="arrow_forward" Size="ButtonSize.Large" />
    </div>
</div>

@code {
    private void NavigateTo(string? route)
    {
        if (!string.IsNullOrEmpty(route))
        {
            NavigationManager.NavigateTo(route);
        }
    }
}