@page "/secondweek"

<PageTitle>Second Week</PageTitle>

<div class="page-content">
    <h1 class="page-title">Second Week</h1>
    <p>
        <span style="display: block; text-align: center;">Day 20 of 33</span>
        <br>
        <br>
        <span style="display: block; text-align: center;">Theme for the Week: Knowledge Of The Blessed Virgin</span>
        <br>
        <br>

        Acts of love, pious affection for the Blessed Virgin, imitation of her virtues, especially her profound humility, her lively faith, her blind obedience, her continual mental prayer, her mortification in all things, her surpassing purity, her ardent charity, her heroic patience, her angelic sweetness, and her divine wisdom: "there being," as St. Louis De Montfort says, "the ten principal virtues of the Blessed Virgin."

        We must unite ourselves to Jesus through Mary - this is the characteristic of our devotion; therefore, Saint Louis De Montfort asks that we employ ourselves in acquiring a knowledge of the Blessed Virgin.

        Mary is our sovereign and our mediatrix, our Mother and our Mistress. Let us then endeavor to know the effects of this royalty, of this mediation, and of this maternity, as well as the grandeurs and prerogatives which are the foundation or consequences thereof. Our Mother is also a perfect mold wherein we are to be molded in order to make her intentions and dispositions ours. This we cannot achieve without studying the interior life of Mary; namely, her virtues, her sentiments, her actions, her participation in the mysteries of Christ and her union with Him.

        <br>
        <br>
        <br>
        <span style="display: block; text-align: center;"><b>Luke 2:16-21, 45-52</b></span>
        <br>
        <br>
        <span style="display: block; text-align: center; margin: 0 auto; width: 90%; line-height: 1.6;">
            So they went in haste and found Mary and Joseph, and the infant lying in the manger. When they saw this, they made known the message that had been told to them about this child. All who heard it were amazed by what had been told to them by the shepherds. And Mary kept all these things, reflecting on them in her heart. Then the shepherds returned, glorifying and praising God for all they had heard and seen, just as it had been told to them. When eight days were completed for his circumcision, he was named Jesus, the name given to him by the angel before he was conceived in the womb.
            <br>
            ...Not finding him, they returned to Jerusalem to look for him. After three days they found him in the temple, sitting in the midst of the teachers, listening to them and asking them questions, and all who heard him were astounded at his understanding and his answers. When his parents saw him, they were astonished, and his mother said to him, “Son, why have you done this to us? Your father and I have been looking for you with great anxiety.” And he said to them, “Why were you looking for me? Did you not know that I must be in my Father’s house?” But they did not understand what he said to them. He went down with them and came to Nazareth, and was obedient to them; and his mother kept all these things in her heart. And Jesus advanced in wisdom and age and favor before God and man.
        </span>
    </p>
</div>
